*{
	margin: 0;
	padding: 0;
}
a {
	color: #7b6a74;
	text-decoration: none;
}
main {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
    box-sizing: border-box;
	background: url("../img/Landing_bg.jpg") no-repeat scroll right bottom transparent;
	min-height: 100vh;
    width: 100%;
    background-size: cover;
    font-family: helvetica,arial,sans-serif;
    text-align: center;
    color: #7b6a74;
    padding-bottom: 24px;
    position: relative;
}
header {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.social ul, .social ul li {
	display: inline-block;
	vertical-align: middle;
}
.logo {
	margin: 0 auto;
    width: 19%;
}
.logo img {
    height: auto;
    width: 100%;
}
.social_container {
    margin: 45px 0;
}
.social > p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 4px;
}
.social ul li {
    padding-left: 16px;
    background-size: 14px auto;
}
.social .fb {
	background: rgba(0, 0, 0, 0) url("../img/pic-fb.svg") no-repeat scroll 0 0 / 14px auto;
}
.social .twitter {
	background: rgba(0, 0, 0, 0) url("../img/pic-twit.svg") no-repeat scroll 0 0 / 14px auto;
}
.social .insta {
	background: rgba(0, 0, 0, 0) url("../img/pic-insta.svg") no-repeat scroll 0 0 / 14px auto;
}
.social .youtube {
	background: rgba(0, 0, 0, 0) url("../img/pic-yout.svg") no-repeat scroll 0 0 / 14px auto;
}
.social .google {
	background: rgba(0, 0, 0, 0) url("../img/pic-googl.svg") no-repeat scroll 0 0 / 14px auto;
}
.main-content {
    font-weight: 200;
    margin-bottom: 45px;
    margin-top: 6px;
}
.main-content > p {
	font-size: 2.5vw;
}
.form_sub {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 8%;
    width: 100%;
}
.form_sub > p {
    margin: 0 auto 4px;
    max-width: 320px;
}
.form_sub input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(123, 106, 116, 0.3) none repeat scroll 0 0;
    border: 1px solid rgba(123, 106, 116, 0.6);
    border-radius: 5px;
    color: #7b6a74;
    display: inline-block;
    font-size: 16px;
    height: 35px;
    padding: 0 15px;
    vertical-align: middle;
    width: 255px;
}
::-webkit-input-placeholder { color:#7b6a74; }
::-moz-placeholder { color:#7b6a74; } /* firefox 19+ */
:-ms-input-placeholder { color:#7b6a74; } /* ie */
input:-moz-placeholder { color:#7b6a74; }
.form_sub button{
	background: #7b6a74;
    border: 0 none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 35px;
    padding: 0 15px;
    vertical-align: middle;
    cursor: pointer;
}
footer {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 10px;
    font-style: italic;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
@media screen and (max-width: 768px){
	main{
		background-position: -150px 0;
	}
	.form_sub form, .form_sub > p {
		width: 80%;
		margin: 0 auto 4px;
	}
	.form_sub input{
	    display: block;
	    height: 42px;
	    width: 100%;
	}
	.form_sub button {
		height: 42px;
	    margin-top: 4px;
	    width: 100%;
	}
	.social{
		width: 80%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 360px){
	main {
	    background-position: -290px -70px;
	}
	.form_sub form, .form_sub > p{
		width: 100%;
	}
	.social ul li{
		display: block;
		text-align: left;
		padding-left: 22px;
		margin-bottom: 4px;
	}
}