*{
	margin: 0;
	padding: 0;
}
main {
	background: url("../img/Landing_bg.jpg");
	height: 100vh;
    width: 100%;
    background-size: cover;
    font-family: helvetica,arial,sans-serif;
    text-align: center;
    color: #7b6a74;
}
header {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
header p, header ul, header ul li {
	display: inline-block;
	vertical-align: middle;
}
.logo {
	margin: 0 auto;
    width: 28%;
}
.logo img {
    height: auto;
    width: 100%;
}
.social {
    position: absolute;
    right: 5px;
    top: 5px;
}
.social ul li {
    padding-left: 16px;
    background-size: 14px auto;
}
.social .fb {
	background: rgba(0, 0, 0, 0) url("../img/pic-fb.svg") no-repeat scroll 0 0 / 14px auto;
}
.social .twitter {
	background: rgba(0, 0, 0, 0) url("../img/pic-twit.svg") no-repeat scroll 0 0 / 14px auto;
}
.social .insta {
	background: rgba(0, 0, 0, 0) url("../img/pic-insta.svg") no-repeat scroll 0 0 / 14px auto;
}
.social .youtube {
	background: rgba(0, 0, 0, 0) url("../img/pic-yout.svg") no-repeat scroll 0 0 / 14px auto;
}
.social .google {
	background: rgba(0, 0, 0, 0) url("../img/pic-googl.svg") no-repeat scroll 0 0 / 14px auto;
}
.main-content > p {
	margin-top: 25px;
	font-size: 38px;
}
.form_sub {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
    box-sizing: border-box;
    bottom: 45px;
    padding: 0 8%;
    position: absolute;
    width: 100%;
}
.form_sub > p {
    margin-bottom: 25px;
}
.form_sub input {
    background: rgba(123, 106, 116, 0.3) none repeat scroll 0 0;
    border: 1px solid rgba(123, 106, 116, 0.6);
    border-radius: 5px;
    color: #7b6a74;
    display: inline-block;
    font-size: 16px;
    height: 35px;
    padding: 0 15px;
    vertical-align: middle;
    width: 255px;
}
.form_sub button{
	background: #7b6a74;
    border: 0 none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 35px;
    padding: 0 15px;
    vertical-align: middle;
}
footer {
    border-top: 1px solid;
    bottom: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 10px;
    font-style: italic;
    margin-top: 5px;
    padding: 5px;
    position: absolute;
    width: 100%;
}