*{
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}

main {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-family: helvetica,arial,sans-serif;
}
.main-content{
    width: 100%;
    font-size: 14px;
    text-align: center;
}
.main-content .slogan{
	font-size: 18px;
    font-weight: 300;
    margin-bottom: 70px;
}
.main-content .expl{
	font-size: 24px;
    font-weight: 100;
    margin-bottom: 30px;
}
.social_container{
	margin-bottom: 30px;
}
.social ul li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}
.social ul li:last-child {
	margin: 0;
}
.social ul li a{
    height: 18px;
    width: 18px;
    display: block;
    padding: 1px;
}
.social .fb a{
	background: rgba(0, 0, 0, 0) url("../img/pic-fb.svg") no-repeat scroll 0 0 / cover;
}
.social .twitter a{
	background: rgba(0, 0, 0, 0) url("../img/pic-twit.svg") no-repeat scroll 0 0 / cover;
}
.social .insta a{
	background: rgba(0, 0, 0, 0) url("../img/pic-insta.svg") no-repeat scroll 0 0 / cover;
}
.social .youtube a{
	background: rgba(0, 0, 0, 0) url("../img/pic-yout.svg") no-repeat scroll 0 0 / cover;
}
.social .google a{
	background: rgba(0, 0, 0, 0) url("../img/pic-googl.svg") no-repeat scroll 0 0 / cover;
}
.form_sub {
    margin: 70px auto 30px;
    max-width: 310px;
    width: 100%;
}
.form_sub > p, .social > p {
    margin: 0 auto 4px;
    max-width: 320px;
    line-height: 24px;
    font-size: 16px;
    text-align: left;
}
.form_sub form {
	text-align: right;
}
.form_sub input[type="email"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-bottom: 1px solid #000;
    color: #000;
    display: inline-block;
    font-size: 14px;
    height: 28px;
    vertical-align: bottom;
    width: 100%;
    cursor: text;
    text-align: left;
}
::-webkit-input-placeholder { color:#000; }
::-moz-placeholder { color:#000; } /* firefox 19+ */
:-ms-input-placeholder { color:#000; } /* ie */
input:-moz-placeholder { color:#000; }
.partners {
    margin-top: 12px;
    text-align: left;
}
.partners input {
	display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}
.partners label {
	display: inline-block;
    max-width: 89%;
    vertical-align: top;
}
.form_sub button{
	background: transparent;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 18px;
    margin-top: 10px;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease-in 0ms;
    -moz-transition: all 300ms ease-in 0ms;
    -o-transition: all 300ms ease-in 0ms;
    -ms-transition: all 300ms ease-in 0ms;
    transition: all 300ms ease-in 0ms;
}
.form_sub button:hover{
	background: #000;
	color: #fff;
}
.logo_container{
	margin: 30px auto 0;
    width: 280px;
}
.logo_container img{
	width: 100%;
	height: auto;
}
footer {
    font-size: 10px;
    font-style: italic;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}
@media screen and (max-width: 768px){
	
}